根組件的基礎模板<br>
Hello World!<br>

<table border="1">
    <tr>
            <th><h2>測試項目</h2></th>
            <th><h2>Message/資料集</h2></th>
    </tr>                    
    <tr>
      <!-- EF 測試項目-->
      <th>
        <app-eftest></app-eftest>
      </th>
      <th>
        <app-messages></app-messages>
      </th>

    </tr>
    <!-- 臨時測試用組件-->
    <tr>
      <th>
        臨時測試用組件
      </th>
      <th>
        <app-mytest></app-mytest>
      </th>

    </tr>

    <!-- User 測試項目-->
    <tr>
        <th>
            引用 使用者(User) 組件
        </th>

        <th>
        <app-users></app-users>
        </th>
    </tr>
    <!-- 組件交互 測試項目-->
    <tr>
        <th>
            組件交互 組件
        </th>
        <th>
        <MyDemo-parent></MyDemo-parent>
        <!-- 
    <MyDemo-child></MyDemo-child>
<MyDemo-parent></MyDemo-parent>
-->
        </th>

    </tr>
    <!-- 標準預設組件-->
    <tr>
        <th>
            countter 組件
        </th>
        <th>
            <app-counter-component></app-counter-component>
        </th>
    </tr>

  </table>



