根組件的基礎模板<br>
Hello World!<br>

<table border="1">
    <tr>
            <th><h2>測試項目</h2></th>
            <th><h2>Message/資料集</h2></th>
    </tr>                    
    <!-- 呼叫 來自control的webapi測試項目-->
    <tr>
      <th>
        <app-eftest></app-eftest>
      </th>
      <th>
        <router-outlet name="eltestLet"></router-outlet>
      </th>

    </tr>
    <!-- 臨時測試用組件-->
    <tr>
      <th>
        臨時測試用組件
      </th>
      <th>
        <app-mytest></app-mytest>
      </th>

    </tr>

    <!-- User 測試項目 -->
    <tr>
        <th>
            引用 使用者(User) 組件與路由
          <nav>
              <a [routerLink]="['']">清空</a><br>
              <!--a routerLink="/myuser/{{2}}">資料庫</a> 這樣的寫法容易有異常..不推薦-->
              <!--<a [routerLink]="['/myuser', 2]"> 另一種寫法-->
                <a [routerLink]="[{ outlets: { myuserLet: ['myuserary'] } }]">物件陣列</a><br>
                <!-- outlet轉向的寫法-->
              <a [routerLink]="[{ outlets: { myuserLet: ['myuser',2] } }]">資料庫</a>
          </nav> 
        </th>

        <th>
          <!--此處為路由route按下之後的輸出 
           <router-outlet></router-outlet> 無任何命名的輸出...整個只能有一個
           name可命名的輸出可多個
          -->
          <router-outlet name="myuserLet"></router-outlet>
          
        </th>
    </tr>
    <!-- 組件交互 測試項目-->
    <tr>
        <th>
            組件交互 組件
        </th>
        <th>
        <MyDemo-parent></MyDemo-parent>
        <!-- 
    <MyDemo-child></MyDemo-child>
<MyDemo-parent></MyDemo-parent>
-->
        </th>

    </tr>
    <!-- 標準預設組件-->
    <tr>
        <th>
            countter 組件
        </th>
        <th>
            <app-counter-component></app-counter-component>
        </th>
    </tr>

  </table>



