/* HeroDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 5em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(161, 197, 243);
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: rgb(42, 119, 219);
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  [nz-button] {
    background-color: rgb(69, 204, 228);
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-date-picker {
    margin: 0 8px 12px 0;
  }
  
  .numeric-input .ant-tooltip-inner {
    min-width: 32px;
    min-height: 37px;
  }

  .numeric-input .numeric-input-title {
    font-size: 14px;
  }